<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
</head>
<body>
<div id="app">
    v-if后接的是等号：等号后的内容必须是布尔值 <br>
    v-id的基本用法：
    <p v-if="6<3">{{apple}}</p>
    <p v-else-if="9>5">{{pineapple}}</p>
    <p v-else>{{banana}}</p>
    <hr>
    v-if的实例用法：对不想让其服用的标签或者元素，加入key即可
    需求：点击按钮，实现用户名输入框和密码输入框的切换
    <div v-if="type==='name'">
        用户名 ：<input type="text" placeholder="请输入用户名" key="name">
    </div>
    <div v-else>
        密码 ：<input type="text" placeholder="请输入密码" key="psd">
    </div>
    <button v-on:click="toggleType">点我切换</button>
    <hr>
    v-show用法：显现与否取决于布尔值
    <hr>
    v-if和v-show的比较：

    <p v-show="9>a">我被渲染</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            apple:'apple',
            banana:"banana",
            pineapple:"pineapple",
            type:'name',
            a:3
        },
        methods:{
            toggleType:function () {
                //三目运算符
                this.type = (this.type==='name' ?'password' : 'name')
            }
        }
    })
</script>
</body>
</html>